* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

.container {
    background-image: url('/assets/fondo_señor_anillos.jpg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    height: 100vh;
    width: auto;
    min-width: 900px;
    min-height: 600px;
}

.header {
    display: flex;
    flex-direction: column;
}

#resultado {
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
    height: 30px;
    opacity: 0.9;
    font-style: serif;
}

.header_energia {
    display: flex;
    height: 80px;
    margin: 4px;
    margin-top: 1.5rem;
    padding: 04px;
    justify-content: center;
}

.jugador_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-right: 20px;
}

.jugador_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    position: relative;

}

#nombre_barra_1 {
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 20px;
    align-items: center;
}

#nombre_barra_2 {
    top: -25px;
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.contenedor_barra_jugador {
    position: relative;
}


.contenedor_barra {
    width: 405px;
    border: solid 1px;
    margin-top: 6px;
    transition: all 1s;
    padding: 0;
    margin: 0;
    border: 4px green solid;
}

.barra_energia {
    width: 400px;
    height: 40px;
    background-color: rgb(12, 141, 18);
}

.panel_juego {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.panel_izquierdo {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.panel_derecho {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.panel_jugador {
    width: 300px;
    height: 350px;
    background-color: rgba(11, 117, 78, 0.653);
    padding: 10px;
    overflow: hidden;
    font-size: 20px;
    font-family: console;

}

.image {
    width: 100%;
    height: 150px;
    background-image: url('/assets/gandalf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.image2 {
    width: 100%;
    height: 150px;
    background-image: url('/assets/legolas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.datos {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}


.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    margin-top: 30px;
    align-items: center;
}



button {
    width: 100px;
    margin: 4px;
    padding: 6px;
    margin-top: 50px;
    background-color: rgb(131, 177, 113);
    /* pointer-events: none; */
}